{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Homepage working</h1>
    <form method="POST" action="">
        <button type="submit">ENREGISTRER</button>
        <p>Ou entrez la commande ici :</p>
        <input type="text" name="manual_entry"><br><br>
        <button type="submit">Envoyer</button>
    </form>
    {% if req == True %}

        {% if var_to_template['found_word'] == None and var_to_template['suggestions'] == None %}<p>Aucune commande correspondante, vous pouvez trouver la liste des triggers <a href="{{url_for('admin')}}">ici</a></p>{% endif %}

        {% if var_to_template['suggestions'] != None %}<p>{{var_to_template['found_word']}} est une commande inconnue.<small>Voulez-vous dire: {% for suggestion in var_to_template['suggestions'] %}<a href="{{url_for('suggestion', suggestion=suggestion)}}">{{suggestion}}</a>, {% endfor %}</small></p>{% endif %}

        {% if var_to_template['response'] == 1 %}<p>Entrée reconnue : {{var_to_template['found_word']}}</p>{% endif %}
    {% endif %}
{% endblock %}