{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Homepage working</h1>
    <form method="POST" action="">
        <button type="submit">ENREGISTRER</button>
        <p>Ou entrez la commande ici :</p>
        <input type="text" name="manual_entry"><br><br>
        <button type="submit">Envoyer</button>
    </form>
    {% if req == True %}
        <p>{% if var_to_template['found_word'] == None %}Commande inconnue.</p>
        <p><small>Voulez-vous dire: <a href="">mot ressemblant trouvé dans la db</a></small>{% endif %}</p>
        <p>{% if var_to_template['response'] == 0 and var_to_template['found_word'] != None %}Commande inconnue : {{var_to_template['found_word']}} {% endif %}</p>
        <p>{% if var_to_template['response'] == 1 %}Entrée reconnue : {{var_to_template['found_word']}} {% endif %}</p>
    {% endif %}
{% endblock %}