{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Admin Page</h1>
    <form method="POST" action="/admin">
        <p>Le mot à ajouter:</p>
        <input type="text" name="name"/>
        <p>Sa description:</p>
        <input type="text" name="description"/>
        <button type="submit">VALIDER</button>
    </form>
    <div class="doc">
        {% for trigger in var_to_template['triggers'] %}
            <h3>"{{trigger.name.capitalize()}}"</h3>
            <p>{{trigger.description.capitalize()}}</p>
            <p><small><a href="{{url_for('triggeredit', trigger_id=trigger.id)}}">Modifier</a></small> <small><a href="{{url_for('triggerdel', trigger_id=trigger.id)}}">Supprimer</a></small></p>
        {% endfor %}
    </div>
{% endblock %}